<h1>Benutzer</h1>
<div class="column">
  <table class="table">
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <%= render user %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
