<h1>Benutzer</h1>
<p>Name: <b><%= @user.name if @user.name %></b></p>
<p>Email: <b><%= @user.email if @user.email %></b></p>
<br><br>
<%= link_to 'Konto bearbeiten', edit_user_registration_path, class: 'btn btn-primary' %>
