<% content_for :title do %>Info<% end %>
<h1>Über diese Webseite</h1>
<p>
Bei dieser Web-Applikation geht es im Wesentlichen darum, seine Noten sicher, schnell und von überall zu verwalten.<br>
Die Benutzeroberfläche wurde bewusst schlicht und einfach aufgebaut, sodass sich jeder gut zurecht findet. Um Noten eintragen zu können, muss man
zuerst ein Konto anlegen. Auf der Startseite werden alle Notenpläne aufgelistet, die du auch für andere Personen, mit den entsprechenden
 Rechten, freigeben kannst.Du kannst dein Konto auch bearbeiten.<br><br>
<i>Copyright &copy Mysia 2016</i>
</p>
