/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 *= require select2-bootstrap
 */
p, ol, ul, td{font-size: 15px; line-height: 25px;}

 button a{color: white;}

 a:hover{color: blue; text-decoration: none; list-style: none; background-color: transparent;}

 .delete_note{padding: 2px 5px;
    font-size: 10px;}

 .form-control{width: auto;}

 .selecter{width: 300px;}

 h1{margin-bottom: 30px;
    margin-top: 30px;}


// ERROR MESSAGES
#error_explanation{width: auto;}

#error_explanation h2{
  margin-bottom: 10px;
  background-color: transparent;
  color: #c00;
}

.field_with_errors {
    padding: 0px;
    border: 1px solid #c00;
    border-radius: 4px;
    background: none;
    display: table;
}

// END ERROR MESSAGES

.navbar-inverse .navbar-nav > li > a{color: white;}
.navbar-inverse .navbar-nav > li > a:hover{color: #0000D7;}

.navbar-inverse {
    background-color: #0089FF;
    border-color: #0089FF;
}

h3{margin-bottom: 20px;}

.select2-container--bootstrap .select2-dropdown{margin-top: 50px!important;}

.checkbox{height: auto;}

.table > tbody > tr > td{vertical-align: middle;}

.table > tbody + tbody{border-top: none;}


.navbar-brand{font-family: fantasy; font-size: 25px; color: white!important;}
.navbar-brand:hover{color: #0000D7!important;}

.table-striped tbody td:nth-child(4){width: 135px; text-align: center;}
.table-striped tbody td:nth-child(3){width: 110px; text-align: center;}
